@charset "utf-8";

.imageomap {
    margin: 1em 0;
}

.imageomap .map {
    margin-bottom:8px;
}

.imageomap .thumbnail {
    float: left;
}

.imageomap .thumbnail img {
    width: 128px;
    border: 4px solid #FFF;
    background: none #bdc3c7;
    box-shadow: 0 1px 2px #444;
}

.imageomap .info {
    overflow: hidden;
    padding-left: 8px;
}

.imageomap .title {
    float:left;
    text-align:left;
    font-weight: bold;
}

.imageomap .datetime {
    float: right;
    margin: 0 8px 0 0;
    text-align: right;
    font-size:0.8em;
}

.imageomap .toggle_detail {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none #34495e;
    color: #ecf0f1;
    text-align: center;
    font-weight: bold;
    font-size:14px;
}

.imageomap .detail {
    padding: 8px;
    border-radius: 4px;
    background: none #ecf0f1;
    font-size:0.8em;
}

.imageomap .detail-title {
    font-weight: bold;
}

.imageomap .clear {
    clear:both;
}
