@charset "utf-8";

.imageomap {
    margin: 1em 0;
}

.imageomap .map {
    margin-bottom:8px;
}

.imageomap .thumbnail {
    float: left;
}

.imageomap .thumbnail img {
    width: 128px;
    border: 4px solid #FFF;
    background: #bdc3c7 none;
    box-shadow: 0 1px 2px #444;
}

.imageomap .info {
    overflow: hidden;
    padding-left: 8px;
}

.imageomap .title {
    font-weight: bold;
    text-align:left;
    float:left;
}

.imageomap .datetime {
    background:none; font-size:0.8em;
    text-align: right;
}

.imageomap .clear {
    clear:both;
}
